.howwework {
    &__title {
        margin-top: 180px;
        font-weight: 600;
        font-size: 70px;
        line-height: 140%;
        color: #3C4D69;
    }
    &__together {
        display: flex;
        gap: 60px;
    }
    &__blocks {
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 30px;
        row-gap: 30px;
        margin-top: 75px;
    }
    &__block {
        position: relative;
        width: 330px;
        height: 542px;
        border: 1px solid #EBEFF0;
        padding: 40px 40px 40px;
        &_title {
            margin-top: 35px;
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            color: #3C4D69;
        }
        &_subtitle {
            margin-top: 63px;
            font-weight: 400;
            font-size: 17px;
            line-height: 130%;
            color: #707C88;
        }
    }
    &__step {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.15em;
        color: #707C88;
    }
    &__img {
        margin-top: 50px;
    }
    &__link {
        display: block;
        width: 100%;
        margin-top: 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #EA142E;
        text-decoration: none;
        border-bottom: 1px solid rgba(243, 34, 48, 0.4);    
    }
    &__waterMark {
        position: absolute;
        &_1 {
            right: 54px;
            bottom: 96px;
        }
        &_2 {
            right: 22px;
            bottom: 120px;
        }
        &_3 {
            right: 150px;
            bottom: 44px;
        }
    }
}