.profit {
    &__title {
        padding-top: 320px;
        font-weight: 600;
        font-size: 70px;
        line-height: 130%;
        color: #3C4D69;
    }
    &__blocks {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block {
        display: flex;
        justify-content: center;
        height: 336px;
        flex-direction: column;
        &-descr {
            position: relative;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #707C88;
            &-tm {
                position: absolute;
                background: url('../../img/profit/tm.svg') center center/cover no-repeat;
                width: 14px;
                height: 14px;
                top: -50%;
                transform: translateY(50%);
                right: -12px;
            }
        }
        &-value {
            height: 50px;
            display: flex;
            justify-content: left;
            align-items: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.04em;
            color: #3C4D69;
            div {
                padding: 10px 17px;
                border: 1px solid #CED6DA;
            }
        }
        &-snake {
            width: 265px;
            &-line {
                position: relative;
                display: block;
                width: 100%;
                height: 1px;
                border-bottom: 1px solid #CED6DA;
                margin-top: 35px;
                &-text {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #707C88;
                    margin-top: 20px;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }
                img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 30%;
                }
            }
            
        }
    }
    &__total {
        &-descr {
            width: 250px;
            font-weight: 600;
            font-size: 26px;
            line-height: 140%;
            text-transform: uppercase;
            color: #3C4D69;
            margin-top: 60px;
        }
        &-wall {
            width: 70%;
            margin-top: 60px;
        }
        &-together {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #3C4D69;
        }
        &-value {
            color: #EA142E;
            font-weight: 600;
        }
    }
    &__sliderContainer {
        width: 100%;
    }
    &__slider {
        -webkit-appearance: none;
        width: 100%;
        margin-top: 40px;
        height: 1px;
        background: #d3d3d343;
        outline: none;
        &::-webkit-slider-thumb {
            border-radius: 100%;
            appearance: none;
            width: 20px; /* Set a specific slider handle width */
            height: 20px; /* Slider handle height */
            background: #FF3334; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }
    }
}

.greyBlock {
    background: #F6F6F6;
    width: 360px;
    height: 340px;
    align-items: center;
    justify-content: start;
}
.mt30 {
    margin-top: 30px;
}
.width122 {
    max-width: 122px;
}