.self {
    &__block {
        display: grid;
        grid-template-columns: 970px auto;
        margin-top: 190px;
        gap: 80px;
    }
    &__title {
        font-weight: 600;
        font-size: 45px;
        line-height: 135%;
        color: #3C4D69;
        &_mt45 {
            margin-top: 45px;
        }
    }
    &__title2 {
        margin-top: 80px;
    }
    &__subtitle {
        position: relative;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #3C4D69;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 12px;
            background-color: #3C4D69;
        }
        &_red {
            color: #EA142E;
            &::before {
                background-color: #EA142E;
            }
        }
    }
    &__imgBlock {
        margin-top: 80px;
    }
    &__subtitles {
        display: grid;
        row-gap: 20px;
        margin-top: 40px;
        padding-left: 30px;
    }
    &__redBlock {
        width: 380px;
        height: 130px;
        background-color: #EA142E;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 22px;
        line-height: 130%;
    }
    &__file {
        display: flex;
        align-items: center;
        gap: 30px;
        border: 1px solid #EDEDED;
        &_descr {
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            color: #3C4D69;
        }
    }
    &__link {
        display: block;
        height: 60px;
        img {
            height: 60px;
            width: 100%;
        }
    }
    &__files {
        margin-top: 35px;
        display: grid;
        row-gap: 10px;
    }
    &__wall {
        margin-top: 35px;
        display: grid;
        grid-template-columns: 110px auto;
        column-gap: 60px;
    }
    &__items {
        display: grid;
        row-gap: 30px;
        padding-left: 25px;
    }
    &__item {
        position: relative;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.05em;
        color: #3C4D69;
        &::before {
            content: '';
            position: absolute;
            left: -25px;
            top: 45%;
            transform: translateY(-50%);
            width: 12px;
            height: 12px;
            background-color: #000;
        }
        &_noBefore {
            &::before {
                display: none;
            }
        }
        &_1 {
            &::before {
                background-color: #F6F6F6;
            }
        }
        &_2 {
            &::before {
                background-color: #8E669B;
            }
        }
        &_3 {
            &::before {
                background-color: #9CA6B5;
            }
        }
        &_4 {
            &::before {
                background-color: #616C7C;
            }
        }
        &_5 {
            &::before {
                background-color: #E2DBD3;
            }
        }
        &_6 {
            &::before {
                background-color: #8DACD8;
            }
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: 50px 300px 330px 350px 180px 50px;
    }
    &__card {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        &_1 {
            background-color: #F6F6F6;
            color: #3C4D69;
        }
        &_2 {
            background-color: #8E669B;
        }
        &_3 {
            background-color: #9CA6B5;
        }
        &_4 {
            background-color: #616C7C;
        }
        &_5 {
            background-color: #E2DBD3;
            color: #3C4D69;
        }
        &_6 {
            background-color: #8DACD8;
        }
    }
    &__turbo {
        height: 170px;
        background: linear-gradient(77.58deg, #212C3F 57.28%, #EA142E 166.86%);
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 30px;
        line-height: 140%;
        color: #FFFFFF;
        span {
            margin-left: 115px;
        }
        &_text {
            position: relative;
        }
        &_img {
            position: absolute;
            left: 365px;
        }
    }
}